<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Word Pyramid Game | <%=title%></title>
<link rel = "icon" href="https://cdn3.iconfinder.com/data/icons/infographic-vol-2-1/512/26-512.png" type = "image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/style.css">