nav {
  align-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  border-bottom: 1px solid #2c2c2c; 
}

nav .title{
  color: #ffffff;
  margin-top: auto;
  font-size: 30px;
  
}

:root {
  --green: #A2CCB6;
  --yellow: #FCEEB5;
  --peach: #EE786E;
  --off-white: #FFFFF4;
  --gray : #808080;
}

body {
  background-color: #000000;
  margin-top: 50px;
  font-family: Arial;
}

span {
  display: block;
  margin-top: -5px;
}

.keyboard {
  width: fit-content;
  height: fit-content;
  border: 3px solid #000000;
  border-radius: 10px;
  background: #000000;
}

.row {
  margin-top: 2px;
  overflow: hidden;
}

.key {
  width: 30px;
  height: 45px;
  float: left;
  cursor: pointer;
  background-color: var(--gray);
  color: #000000;
  line-height: 35px;
  text-align: center;
  margin-left: 2px;
  border-radius: 4px;
}
.key__submit {
  width: auto;
  height: 45px;

}
.key__delete {
  width: auto;
}
/* nav ul {
  display: flex; 
  flex-direction: row;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
}  */
/* section {
  max-width: 1500px;
  margin: 40px auto;
}
input{
  width: 250px;
  padding: 5px;
  height: auto;
  margin-left: 500px;
  flex-direction: column;
  display: flex;
}  */